include mixins/navbar-unresponsive
include mixins/navbar-plain

include mixins/footer/footer-copyright
include mixins/footer/footer
include mixins/footer/footer-info

include mixins/elements/input.jade
include mixins/elements/file.jade
include mixins/elements/submit.jade
include mixins/elements/button.jade
include mixins/elements/button0.jade
include mixins/elements/button2.jade
include mixins/elements/textarea.jade
include mixins/elements/marked.jade

