include mixins/navbar-unresponsive
include mixins/navbar-plain

include mixins/footer/footer-copyright
include mixins/footer/footer
include mixins/footer/footer-info

include mixins/elements/input.jade
include mixins/elements/submit.jade

