mixin footer-info
  .container
    br
    .row
      .col.l6.s12
        h5.white-text Contacts
        ul.grey-text.text-lighten-4
          li Juneau Ltd.
          li: a.white-text(href="mailto:mail@srv.tld") mail@srv.tld
          li +7 (495) 123-45-67
      .col.l3.offset-l3.s12
        h5.white-text Share
        ul.fa-ul
          li: a.white-text(href='#!')
            i.fa.fa-li.fa-facebook
            | Facebook
          li: a.white-text(href='#!')
            i.fa.fa-li.fa-vk
            | VKontakte
