mixin navbar-plain(title, href)
  nav&attributes(attributes)(role='navigation', class=colorOne).lighten-1
    .nav-wrapper.container
      a#logo-container.brand-logo(href=href)= title
      ul.right
        block
