extends ../layout

block content
  header
    +navbar-unresponsive('Delete '+title, '/')
  main
    .container: form(action='', method='POST')
      br

      .row.center: +submit.btn-large Delete
      .section
        h2= item.title
        p= item.field1
        p= item.field2
        hr
        +button('/'+route+'/'+item.id) Back
        +button('/'+route+'/').right Back To List

