extends ../layout

block content
  header
    +navbar-unresponsive(title, '/')
  main
    .container
      .section
        .row
          .col.s12.l8.offset-l2
            include _view.jade
        hr
        +button('/'+route+'/') Back
        if item.actions && item.actions.e
          +button('/'+route+'/'+item.id+'/edit') Edit
        if item.actions && item.actions.d
          +button2('/'+route+'/'+item.id+'/delete').right Delete
