extends ../layout

block content
  header
    +navbar-unresponsive('New '+title, '/')
  main
    .container
      .section: form(action='', method='POST', enctype="multipart/form-data")
        .row
          .col.s12.l6
            +input('title', "") Title
            +file('picture', '') Cover

        hr
        +submit Send
