extends ../layout

block content
  header
    +navbar-unresponsive('Edit '+title, '/')
  main
    .container
      .section: form(action='', method='POST', enctype="multipart/form-data")
        .row
          .col.s12.l6
            +input('title',  item.title  || "") Title
            +file('picture', item.picture) Cover

        hr
        +submit Send
        .right
          +button2('/'+route+'/'+item.id) Back
          +button2('/'+route+'/'+item.id+'/edit') Reset
