extends ../layout

block content
  header
    +navbar-unresponsive('Post', '/')
  main
    .container
      .section
        .row
          .col.s12.l8.offset-l2
            h2= item.title
            p= item.field1
            p= item.field2

        hr
        +button('/item') Back
        +button( '/item/'+item.id+'/edit') Edit
        +button2('/item/'+item.id+'/delete').right Delete
